.about-section{
  padding: 4rem 1rem;
  background-color: white;
}

.about-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.about-image img{
  width: 100%;
  max-width: 500px;
  height: auto;
}

.about-text h2{
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.about-list{
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}

.about-list li{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.icon{
  color: var(--primary-color);
  font-size: 1.5rem;
}

@media (min-width: 768px){
  .about-section{
    margin-top: 6rem;
    padding: 4rem 10%;
  }

  .about-content{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .about-text{
    max-width: 50%;
  }

  .about-image{
    flex: 1;
  }

  .about-text{
    flex: 2;
  }


}