.newsletter-container{
  text-align: center;
  padding: 4rem 1rem;
  background-image: url("../../../public/images/hero-pozadina.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.input-wrapper{
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  width: 300px;
}

.email-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
}

.input-wrapper input{
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  background: transparent;
}

